In [79]:
# importing libraries

import xml.etree.ElementTree as ET
import pandas as pd
import numpy as np
import os

# changing the file directory

os.chdir('E:\ml\Coding_problem\Coding_data')

In [184]:
# creating tree and root to parse the data from xml file 

tree = ET.parse('customer773504_loan774538_crif_report.html.xml')

root = tree.getroot()

In [185]:
# parsing the useful information

l1 = []                #empty list to contain the rows for all trades (to be converted to dataframe)

for x in root.iter('LOAN-DETAILS'):
    l2 = []            #empty list to contain the each row
    
    ACCT_TYPE = x.find('ACCT-TYPE').text
    l2.append(ACCT_TYPE)
    
    if (x.find('DISBURSED-AMT') != None):      # checking for non-empty values
        DISBURSED_AMT = x.find('DISBURSED-AMT').text
        DISBURSED_AMT = float(DISBURSED_AMT.replace(',', ''))
        
    else:
        DISBURSED_AMT = float(0)              # if DISBURSED-AMT is not present in the XML child filling it as zero
    
    l2.append(float(DISBURSED_AMT))              

    DISBURSED_DATE = x.find('DISBURSED-DATE').text
    l2.append(DISBURSED_DATE)
    
    if (x.find('COMBINED-PAYMENT-HISTORY').text != None):     # check for non-empty string COMBINED-PAYMENT-HISTORY
        COMBINED_PAYMENT_HISTORY = x.find('COMBINED-PAYMENT-HISTORY').text
    else:
        COMBINED_PAYMENT_HISTORY = 'xxxxxxxxxxxxxxxx'         # filling empty COMBINED-PAYMENT-HISTORY cell with dummy string
        
    l2.append(COMBINED_PAYMENT_HISTORY)
    l1.append(l2)
    
    
    
    print(ACCT_TYPE, '\n', DISBURSED_AMT, '\n', DISBURSED_DATE, '\n', COMBINED_PAYMENT_HISTORY, '\n')
    print('****************')

Credit Card
 152244.0
 07-08-2008
 Jan:2020,160/XXX|Dec:2019,160/XXX|Nov:2019,160/XXX|Oct:2019,160/XXX|Sep:2019,160/XXX|Aug:2019,160/XXX|Jul:2019,160/XXX|Jun:2019,160/XXX|May:2019,160/XXX|Apr:2019,160/XXX|Mar:2019,160/XXX|Feb:2019,160/XXX|Jan:2019,160/XXX|Dec:2018,160/XXX|Nov:2018,160/XXX|Oct:2018,160/XXX|Sep:2018,160/XXX|Aug:2018,160/XXX|Jul:2018,160/XXX|Jun:2018,160/XXX|May:2018,160/XXX|Apr:2018,160/XXX|Mar:2018,160/XXX|Feb:2018,160/XXX|Jan:2018,160/XXX|Dec:2017,160/XXX|Nov:2017,160/XXX|Oct:2017,160/XXX|Sep:2017,160/XXX|Aug:2017,160/XXX|Jul:2017,160/XXX|Jun:2017,160/XXX|May:2017,160/XXX|Apr:2017,160/XXX|Mar:2017,160/XXX|Feb:2017,160/XXX|

****************
Personal Loan
 7000.0
 10-12-2019
 Jan:2020,000/STD|Dec:2019,000/STD|

****************
Consumer Loan
 34230.0
 28-01-2019
 Jan:2020,000/STD|Dec:2019,000/STD|Nov:2019,000/STD|Oct:2019,000/STD|Sep:2019,000/STD|Aug:2019,000/STD|Jul:2019,000/STD|Jun:2019,000/STD|May:2019,000/STD|Apr:2019,000/STD|Mar:2019,000/STD|Feb:2019,000/STD|Jan:2019,000/STD|

****************
Personal Loan
 51000.0
 30-05-2019
 Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000/XXX|Oct:2019,000/XXX|Sep:2019,000/XXX|Aug:2019,000/XXX|Jul:2019,000/XXX|Jun:2019,000/XXX|May:2019,000/XXX|

****************
Consumer Loan
 16999.0
 12-07-2019
 Aug:2019,000/XXX|Jul:2019,000/XXX|

****************
Personal Loan
 60000.0
 30-04-2019
 Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000/XXX|Oct:2019,000/XXX|Sep:2019,000/XXX|Aug:2019,000/XXX|Jul:2019,000/XXX|Jun:2019,000/XXX|May:2019,000/XXX|Apr:2019,000/XXX|

****************
Credit Card
 218876.0
 09-07-2008
 Feb:2020,360/LOS|Jan:2020,360/XXX|Dec:2019,360/XXX|Nov:2019,360/XXX|Oct:2019,360/LOS|Sep:2019,360/LOS|Aug:2019,360/LOS|Jul:2019,360/LOS|Jun:2019,360/LOS|May:2019,DDD/DDD|Apr:2019,360/LOS|Mar:2019,360/LOS|Feb:2019,360/LOS|Jan:2019,360/LOS|Dec:2018,360/LOS|Nov:2018,360/LOS|Oct:2018,360/LOS|Sep:2018,360/LOS|Aug:2018,360/LOS|Jul:2018,360/LOS|Jun:2018,360/LOS|May:2018,360/LOS|Apr:2018,360/LOS|Mar:2018,360/LOS|Feb:2018,360/LOS|Jan:2018,360/LOS|Dec:2017,360/LOS|Nov:2017,360/LOS|Oct:2017,360/LOS|Sep:2017,360/LOS|Aug:2017,360/LOS|Jul:2017,360/LOS|Jun:2017,360/LOS|May:2017,360/LOS|Apr:2017,360/LOS|Mar:2017,360/LOS|

****************
Credit Card
 108798.0
 31-07-2007
 Jan:2020,180/XXX|Dec:2019,180/XXX|Nov:2019,180/XXX|Oct:2019,180/XXX|Sep:2019,180/XXX|Aug:2019,180/XXX|Jul:2019,180/XXX|Jun:2019,180/XXX|May:2019,180/XXX|Apr:2019,180/XXX|Mar:2019,180/XXX|Feb:2019,180/XXX|Jan:2019,180/XXX|Dec:2018,180/XXX|Nov:2018,180/XXX|Oct:2018,180/XXX|Sep:2018,180/XXX|Aug:2018,180/XXX|Jul:2018,180/XXX|Jun:2018,180/XXX|May:2018,180/XXX|Apr:2018,180/XXX|Mar:2018,180/XXX|Feb:2018,180/XXX|Jan:2018,180/XXX|Dec:2017,180/XXX|Nov:2017,180/XXX|Oct:2017,180/XXX|Sep:2017,180/XXX|Aug:2017,180/XXX|Jul:2017,180/XXX|Jun:2017,180/XXX|May:2017,180/XXX|Apr:2017,180/XXX|Mar:2017,180/XXX|Feb:2017,180/XXX|

****************
Credit Card
 99698.0
 16-04-2019
 Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000/XXX|Oct:2019,000/XXX|Sep:2019,000/XXX|Aug:2019,000/XXX|Jul:2019,000/XXX|Jun:2019,DDD/DDD|May:2019,000/XXX|Apr:2019,000/XXX|

****************
Credit Card
 213844.0
 29-09-2007
 Oct:2011,000/XXX|Sep:2011,000/XXX|Aug:2011,354/XXX|Jul:2011,322/XXX|Jun:2011,XXX/XXX|May:2011,XXX/XXX|Apr:2011,XXX/XXX|Mar:2011,XXX/XXX|Feb:2011,XXX/XXX|Jan:2011,XXX/XXX|Dec:2010,XXX/XXX|Nov:2010,XXX/XXX|Oct:2010,XXX/XXX|Sep:2010,XXX/XXX|Aug:2010,XXX/XXX|Jul:2010,XXX/XXX|Jun:2010,XXX/XXX|May:2010,XXX/XXX|Apr:2010,XXX/XXX|Mar:2010,XXX/XXX|Feb:2010,XXX/XXX|Jan:2010,XXX/XXX|Dec:2009,XXX/XXX|Nov:2009,XXX/XXX|Oct:2009,XXX/XXX|Sep:2009,XXX/XXX|Aug:2009,XXX/XXX|Jul:2009,XXX/XXX|Jun:2009,XXX/XXX|May:2009,XXX/XXX|Apr:2009,XXX/XXX|Mar:2009,XXX/XXX|Feb:2009,XXX/XXX|Jan:2009,XXX/XXX|Dec:2008,XXX/XXX|Nov:2008,XXX/XXX|

****************
Personal Loan
 11000.0
 11-01-2020
 Jan:2020,000/STD|

****************
Consumer Loan
 13990.0
 13-10-2018
 Mar:2019,000/XXX|Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|

****************
Credit Card
 213844.0
 29-09-2007
 Dec:2019,900/LOS|Nov:2019,900/LOS|Oct:2019,900/LOS|Sep:2019,900/LOS|Aug:2019,900/LOS|Jul:2019,900/LOS|Jun:2019,900/LOS|May:2019,900/LOS|Apr:2019,900/LOS|Mar:2019,900/LOS|Feb:2019,900/LOS|Jan:2019,DDD/DDD|Dec:2018,900/LOS|Nov:2018,900/LOS|Oct:2018,900/LOS|Sep:2018,900/LOS|Aug:2018,900/LOS|Jul:2018,900/LOS|Jun:2018,900/LOS|May:2018,900/LOS|Apr:2018,900/LOS|Mar:2018,900/LOS|Feb:2018,900/LOS|Jan:2018,900/LOS|Dec:2017,900/LOS|Nov:2017,900/LOS|Oct:2017,900/LOS|Sep:2017,900/LOS|Aug:2017,900/LOS|Jul:2017,900/LOS|Jun:2017,900/LOS|May:2017,900/LOS|Apr:2017,900/LOS|Mar:2017,900/LOS|Feb:2017,900/LOS|Jan:2017,900/LOS|

****************
Credit Card
 185146.0
 12-07-2010
 Feb:2011,XXX/XXX|Jan:2011,XXX/XXX|Dec:2010,XXX/XXX|Nov:2010,XXX/XXX|Oct:2010,XXX/XXX|Sep:2010,XXX/XXX|Aug:2010,XXX/XXX|

****************
Credit Card
 68347.0
 18-04-2019
 Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000/XXX|Oct:2019,000/XXX|Sep:2019,000/XXX|Aug:2019,000/XXX|Jul:2019,000/XXX|Jun:2019,000/XXX|May:2019,000/XXX|Apr:2019,000/XXX|

****************
Consumer Loan
 5000.0
 17-02-2019
 Mar:2019,000/XXX|Feb:2019,000/XXX|

****************
Credit Card
 14478.0
 20-01-2020
 Jan:2020,000/XXX|

****************
Credit Card
 17604.0
 02-05-2019
 Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000/XXX|Oct:2019,000/XXX|Sep:2019,000/XXX|Aug:2019,000/XXX|Jul:2019,000/XXX|Jun:2019,000/XXX|May:2019,000/XXX|

****************
Consumer Loan
 15500.0
 24-02-2019
 Aug:2019,000/XXX|Jul:2019,000/XXX|Jun:2019,000/XXX|May:2019,000/XXX|Apr:2019,000/XXX|Mar:2019,000/XXX|Feb:2019,000/XXX|

****************
Gold Loan
 132000.0
 22-02-2019
 Jan:2020,XXX/STD|Dec:2019,XXX/STD|Nov:2019,XXX/STD|Oct:2019,XXX/STD|Sep:2019,XXX/STD|Aug:2019,XXX/STD|Jul:2019,XXX/STD|Jun:2019,XXX/STD|May:2019,XXX/STD|Apr:2019,DDD/DDD|Mar:2019,XXX/STD|Feb:2019,XXX/STD|

****************
Personal Loan
 19999.0
 18-01-2019
 Aug:2019,000/STD|Jul:2019,000/STD|Jun:2019,000/STD|May:2019,000/STD|Apr:2019,000/STD|Mar:2019,000/STD|Feb:2019,000/STD|

****************
Credit Card
 191081.0
 25-06-2007
 Jun:2010,XXX/XXX|May:2010,XXX/XXX|Apr:2010,XXX/XXX|Mar:2010,XXX/XXX|Feb:2010,XXX/XXX|Jan:2010,XXX/XXX|Dec:2009,XXX/XXX|Nov:2009,XXX/XXX|Oct:2009,XXX/XXX|Sep:2009,XXX/XXX|Aug:2009,XXX/XXX|Jul:2009,XXX/XXX|Jun:2009,XXX/XXX|May:2009,XXX/XXX|Apr:2009,XXX/XXX|Mar:2009,XXX/XXX|Feb:2009,XXX/XXX|Jan:2009,XXX/XXX|Dec:2008,XXX/XXX|Nov:2008,XXX/XXX|Oct:2008,XXX/XXX|Sep:2008,XXX/XXX|Aug:2008,XXX/XXX|Jul:2008,XXX/XXX|Jun:2008,XXX/XXX|May:2008,XXX/XXX|Apr:2008,XXX/XXX|Mar:2008,XXX/XXX|Feb:2008,XXX/XXX|Jan:2008,XXX/XXX|Dec:2007,XXX/XXX|Nov:2007,XXX/XXX|Oct:2007,XXX/XXX|Sep:2007,XXX/XXX|Aug:2007,XXX/XXX|Jul:2007,XXX/XXX|

****************
Credit Card
 103171.0
 11-09-2007
 Jan:2020,900/XXX|Dec:2019,900/XXX|Nov:2019,900/XXX|Oct:2019,900/XXX|Sep:2019,900/XXX|Aug:2019,900/XXX|Jul:2019,900/XXX|Jun:2019,900/XXX|May:2019,900/XXX|Apr:2019,900/XXX|Mar:2019,900/XXX|Feb:2019,900/XXX|Jan:2019,900/XXX|Dec:2018,900/XXX|Nov:2018,900/XXX|Oct:2018,900/XXX|Sep:2018,900/XXX|Aug:2018,900/XXX|Jul:2018,900/XXX|Jun:2018,900/XXX|May:2018,900/XXX|Apr:2018,900/XXX|Mar:2018,900/XXX|Feb:2018,900/XXX|Jan:2018,900/XXX|Dec:2017,900/XXX|Nov:2017,900/XXX|Oct:2017,900/XXX|Sep:2017,900/XXX|Aug:2017,900/XXX|Jul:2017,900/XXX|Jun:2017,900/XXX|May:2017,900/XXX|Apr:2017,900/XXX|Mar:2017,900/XXX|Feb:2017,900/XXX|

****************
Credit Card
 303814.0
 06-03-2009
 Jan:2020,900/XXX|Dec:2019,900/XXX|Nov:2019,900/XXX|Oct:2019,900/XXX|Sep:2019,900/XXX|Aug:2019,900/XXX|Jul:2019,900/XXX|Jun:2019,900/XXX|May:2019,900/XXX|Apr:2019,900/XXX|Mar:2019,900/XXX|Feb:2019,900/XXX|Jan:2019,900/XXX|Dec:2018,900/XXX|Nov:2018,900/XXX|Oct:2018,900/XXX|Sep:2018,900/XXX|Aug:2018,900/XXX|Jul:2018,900/XXX|Jun:2018,900/XXX|May:2018,900/XXX|Apr:2018,900/XXX|Mar:2018,900/XXX|Feb:2018,900/XXX|Jan:2018,900/XXX|Dec:2017,900/XXX|Nov:2017,900/XXX|Oct:2017,900/XXX|Sep:2017,900/XXX|Aug:2017,900/XXX|Jul:2017,900/XXX|Jun:2017,900/XXX|May:2017,900/XXX|Apr:2017,900/XXX|Mar:2017,900/XXX|Feb:2017,900/XXX|

****************
Gold Loan
 485000.0
 22-03-2018
 Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000/XXX|Oct:2019,000/XXX|Sep:2019,000/XXX|Aug:2019,000/XXX|Jul:2019,000/XXX|Jun:2019,DDD/DDD|May:2019,DDD/DDD|Apr:2019,000/XXX|Mar:2019,000/XXX|Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,DDD/DDD|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|

****************
Consumer Loan
 10000.0
 04-01-2020
 Jan:2020,000/XXX|

****************
Personal Loan
 310161.0
 15-03-2019
 Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000/XXX|Oct:2019,000/XXX|Sep:2019,000/XXX|Aug:2019,000/XXX|Jul:2019,000/XXX|Jun:2019,DDD/DDD|May:2019,DDD/DDD|Apr:2019,000/XXX|

****************
Credit Card
 146436.0
 11-04-2006
 Feb:2020,190/XXX|Jan:2020,190/XXX|Dec:2019,190/XXX|Nov:2019,190/XXX|Oct:2019,190/XXX|Sep:2019,190/XXX|Aug:2019,190/XXX|Jul:2019,190/XXX|Jun:2019,190/XXX|May:2019,190/XXX|Apr:2019,190/XXX|Mar:2019,190/XXX|Feb:2019,DDD/DDD|Jan:2019,190/XXX|Dec:2018,190/XXX|Nov:2018,190/XXX|Oct:2018,190/XXX|Sep:2018,190/XXX|Aug:2018,190/XXX|Jul:2018,DDD/DDD|Jun:2018,190/XXX|May:2018,190/XXX|Apr:2018,190/XXX|Mar:2018,190/XXX|Feb:2018,DDD/DDD|Jan:2018,190/XXX|Dec:2017,190/XXX|Nov:2017,190/XXX|Oct:2017,190/XXX|Sep:2017,190/XXX|Aug:2017,190/XXX|Jul:2017,190/XXX|Jun:2017,190/XXX|May:2017,190/XXX|Apr:2017,XXX/XXX|Mar:2017,XXX/XXX|

****************
Credit Card
 71352.0
 04-07-2019
 Feb:2020,000/XXX|Jan:2020,DDD/DDD|Dec:2019,000/XXX|Nov:2019,000/XXX|Oct:2019,000/XXX|Sep:2019,000/XXX|Aug:2019,000/XXX|

****************
Credit Card
 47687.0
 04-06-2019
 Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000/XXX|Oct:2019,DDD/DDD|Sep:2019,000/XXX|Aug:2019,000/XXX|Jul:2019,000/XXX|Jun:2019,000/XXX|

****************
Consumer Loan
 7809.0
 26-01-2020
 Jan:2020,000/XXX|

****************
Two-Wheeler Loan
 66000.0
 26-06-2019
 Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000/XXX|Oct:2019,000/XXX|Sep:2019,000/XXX|Aug:2019,000/XXX|Jul:2019,000/XXX|Jun:2019,000/XXX|

****************
Other
 500000.0
 07-09-2016
 Feb:2019,XXX/SUB|Jan:2019,XXX/SUB|Dec:2018,DDD/DDD|Nov:2018,XXX/SUB|Oct:2018,XXX/SUB|Sep:2018,XXX/STD|Aug:2018,XXX/STD|Jul:2018,XXX/STD|Jun:2018,XXX/STD|May:2018,XXX/LOS|Apr:2018,XXX/LOS|Mar:2018,XXX/LOS|Feb:2018,XXX/LOS|Jan:2018,DDD/DDD|Dec:2017,DDD/DDD|Nov:2017,DDD/DDD|Oct:2017,DDD/DDD|Sep:2017,DDD/DDD|Aug:2017,DDD/DDD|Jul:2017,DDD/DDD|Jun:2017,XXX/STD|May:2017,XXX/STD|Apr:2017,XXX/XXX|Mar:2017,XXX/XXX|Feb:2017,XXX/XXX|Jan:2017,XXX/XXX|Dec:2016,XXX/XXX|Nov:2016,XXX/XXX|Oct:2016,XXX/XXX|

****************
Personal Loan
 5000.0
 05-01-2020
 Feb:2020,000/STD|

****************
Consumer Loan
 10000.0
 31-07-2019
 Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000/XXX|Oct:2019,000/XXX|Sep:2019,000/XXX|Aug:2019,000/XXX|

****************
Personal Loan
 84257.0
 12-11-2019
 xxxxxxxxxxxxxxxx

****************
Gold Loan
 132000.0
 07-12-2017
 Feb:2019,080/STD|Jan:2019,080/STD|Dec:2018,049/STD|Nov:2018,018/STD|Oct:2018,XXX/STD|Sep:2018,XXX/STD|Aug:2018,XXX/STD|Jul:2018,XXX/STD|Jun:2018,XXX/STD|May:2018,XXX/STD|Apr:2018,XXX/STD|Mar:2018,XXX/STD|Feb:2018,XXX/STD|Jan:2018,XXX/STD|Dec:2017,XXX/STD|

****************

In [186]:
# generating the dataframe from parsed data

df = pd.DataFrame(l1, columns = ['ACCT_TYPE', 'DISBURSED_AMT', 'DISBURSED_DATE','COMBINED_PAYMENT_HISTORY'])
df

,ACCT_TYPE,DISBURSED_AMT,DISBURSED_DATE,COMBINED_PAYMENT_HISTORY
0,Credit Card,152244.0,07-08-2008,"Jan:2020,160/XXX|Dec:2019,160/XXX|Nov:2019,160..."
1,Personal Loan,7000.0,10-12-2019,"Jan:2020,000/STD|Dec:2019,000/STD|"
2,Consumer Loan,34230.0,28-01-2019,"Jan:2020,000/STD|Dec:2019,000/STD|Nov:2019,000..."
3,Personal Loan,51000.0,30-05-2019,"Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000..."
4,Consumer Loan,16999.0,12-07-2019,"Aug:2019,000/XXX|Jul:2019,000/XXX|"
5,Personal Loan,60000.0,30-04-2019,"Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000..."
6,Credit Card,218876.0,09-07-2008,"Feb:2020,360/LOS|Jan:2020,360/XXX|Dec:2019,360..."
7,Credit Card,108798.0,31-07-2007,"Jan:2020,180/XXX|Dec:2019,180/XXX|Nov:2019,180..."
8,Credit Card,99698.0,16-04-2019,"Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000..."
9,Credit Card,213844.0,29-09-2007,"Oct:2011,000/XXX|Sep:2011,000/XXX|Aug:2011,354..."
10,Personal Loan,11000.0,11-01-2020,"Jan:2020,000/STD|"
11,Consumer Loan,13990.0,13-10-2018,"Mar:2019,000/XXX|Feb:2019,000/XXX|Jan:2019,000..."
12,Credit Card,213844.0,29-09-2007,"Dec:2019,900/LOS|Nov:2019,900/LOS|Oct:2019,900..."
13,Credit Card,185146.0,12-07-2010,"Feb:2011,XXX/XXX|Jan:2011,XXX/XXX|Dec:2010,XXX..."
14,Credit Card,68347.0,18-04-2019,"Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000..."
15,Consumer Loan,5000.0,17-02-2019,"Mar:2019,000/XXX|Feb:2019,000/XXX|"
16,Credit Card,14478.0,20-01-2020,"Jan:2020,000/XXX|"
17,Credit Card,17604.0,02-05-2019,"Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000..."
18,Consumer Loan,15500.0,24-02-2019,"Aug:2019,000/XXX|Jul:2019,000/XXX|Jun:2019,000..."
19,Gold Loan,132000.0,22-02-2019,"Jan:2020,XXX/STD|Dec:2019,XXX/STD|Nov:2019,XXX..."
20,Personal Loan,19999.0,18-01-2019,"Aug:2019,000/STD|Jul:2019,000/STD|Jun:2019,000..."
21,Credit Card,191081.0,25-06-2007,"Jun:2010,XXX/XXX|May:2010,XXX/XXX|Apr:2010,XXX..."
22,Credit Card,103171.0,11-09-2007,"Jan:2020,900/XXX|Dec:2019,900/XXX|Nov:2019,900..."
23,Credit Card,303814.0,06-03-2009,"Jan:2020,900/XXX|Dec:2019,900/XXX|Nov:2019,900..."
24,Gold Loan,485000.0,22-03-2018,"Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000..."
25,Consumer Loan,10000.0,04-01-2020,"Jan:2020,000/XXX|"
26,Personal Loan,310161.0,15-03-2019,"Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000..."
27,Credit Card,146436.0,11-04-2006,"Feb:2020,190/XXX|Jan:2020,190/XXX|Dec:2019,190..."
28,Credit Card,71352.0,04-07-2019,"Feb:2020,000/XXX|Jan:2020,DDD/DDD|Dec:2019,000..."
29,Credit Card,47687.0,04-06-2019,"Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000..."
30,Consumer Loan,7809.0,26-01-2020,"Jan:2020,000/XXX|"
31,Two-Wheeler Loan,66000.0,26-06-2019,"Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000..."
32,Other,500000.0,07-09-2016,"Feb:2019,XXX/SUB|Jan:2019,XXX/SUB|Dec:2018,DDD..."
33,Personal Loan,5000.0,05-01-2020,"Feb:2020,000/STD|"
34,Consumer Loan,10000.0,31-07-2019,"Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000..."
35,Personal Loan,84257.0,12-11-2019,xxxxxxxxxxxxxxxx
36,Gold Loan,132000.0,07-12-2017,"Feb:2019,080/STD|Jan:2019,080/STD|Dec:2018,049..."

In [49]:
#payment history for single trade

df['COMBINED_PAYMENT_HISTORY'][0]

'Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|Aug:2017,000/XXX|Jul:2017,000/XXX|Jun:2017,000/XXX|May:2017,000/XXX|Apr:2017,000/XXX|Mar:2017,000/XXX|Feb:2017,000/XXX|Jan:2017,000/XXX|Dec:2016,000/XXX|Nov:2016,000/XXX|Oct:2016,000/XXX|Sep:2016,000/XXX|Aug:2016,000/XXX|Jul:2016,000/XXX|Jun:2016,000/XXX|May:2016,000/XXX|Apr:2016,000/XXX|Mar:2016,000/XXX|Feb:2016,000/XXX|Jan:2016,000/XXX|Dec:2015,000/XXX|Nov:2015,000/XXX|Oct:2015,000/XXX|Sep:2015,000/XXX|Aug:2015,000/XXX|Jul:2015,000/XXX|Jun:2015,000/XXX|'

In [187]:
# generationg list by splitting the payment history for each month (separated by '|')

payment_text = []
for i in range(len(df)):
    txt = df['COMBINED_PAYMENT_HISTORY'][i]
    payment_text.append(txt.split('|'))

In [188]:
# payment dataframe for each trade 

combined_payment = pd.DataFrame(payment_text)
combined_payment.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,"Jan:2020,160/XXX","Dec:2019,160/XXX","Nov:2019,160/XXX","Oct:2019,160/XXX","Sep:2019,160/XXX","Aug:2019,160/XXX","Jul:2019,160/XXX","Jun:2019,160/XXX","May:2019,160/XXX","Apr:2019,160/XXX",...,"Oct:2017,160/XXX","Sep:2017,160/XXX","Aug:2017,160/XXX","Jul:2017,160/XXX","Jun:2017,160/XXX","May:2017,160/XXX","Apr:2017,160/XXX","Mar:2017,160/XXX","Feb:2017,160/XXX",
1,"Jan:2020,000/STD","Dec:2019,000/STD",,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,"Jan:2020,000/STD","Dec:2019,000/STD","Nov:2019,000/STD","Oct:2019,000/STD","Sep:2019,000/STD","Aug:2019,000/STD","Jul:2019,000/STD","Jun:2019,000/STD","May:2019,000/STD","Apr:2019,000/STD",...,None,None,None,None,None,None,None,None,None,None
3,"Jan:2020,000/XXX","Dec:2019,000/XXX","Nov:2019,000/XXX","Oct:2019,000/XXX","Sep:2019,000/XXX","Aug:2019,000/XXX","Jul:2019,000/XXX","Jun:2019,000/XXX","May:2019,000/XXX",,...,None,None,None,None,None,None,None,None,None,None
4,"Aug:2019,000/XXX","Jul:2019,000/XXX",,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [189]:
# cleaning the dataframe
combined_payment = combined_payment.replace(r'^\s*$', np.nan, regex=True)
combined_payment = combined_payment.fillna('xxxxxxxxxxxxxxxx')
combined_payment.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,"Jan:2020,160/XXX","Dec:2019,160/XXX","Nov:2019,160/XXX","Oct:2019,160/XXX","Sep:2019,160/XXX","Aug:2019,160/XXX","Jul:2019,160/XXX","Jun:2019,160/XXX","May:2019,160/XXX","Apr:2019,160/XXX",...,"Oct:2017,160/XXX","Sep:2017,160/XXX","Aug:2017,160/XXX","Jul:2017,160/XXX","Jun:2017,160/XXX","May:2017,160/XXX","Apr:2017,160/XXX","Mar:2017,160/XXX","Feb:2017,160/XXX",xxxxxxxxxxxxxxxx
1,"Jan:2020,000/STD","Dec:2019,000/STD",xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,...,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx
2,"Jan:2020,000/STD","Dec:2019,000/STD","Nov:2019,000/STD","Oct:2019,000/STD","Sep:2019,000/STD","Aug:2019,000/STD","Jul:2019,000/STD","Jun:2019,000/STD","May:2019,000/STD","Apr:2019,000/STD",...,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx
3,"Jan:2020,000/XXX","Dec:2019,000/XXX","Nov:2019,000/XXX","Oct:2019,000/XXX","Sep:2019,000/XXX","Aug:2019,000/XXX","Jul:2019,000/XXX","Jun:2019,000/XXX","May:2019,000/XXX",xxxxxxxxxxxxxxxx,...,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx
4,"Aug:2019,000/XXX","Jul:2019,000/XXX",xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,...,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxx

In [190]:
# iterating through each trade and fetching all required information



def isfloat(value): # function to check whether the DPD value is float or not  
    try:
        float(value)
        return True
    except ValueError:
        return False

# empty lists to store DPD values and the values with DPD over 30 days 
DPD = []
DPD_over_30 = []

for i in range(len(combined_payment)):

    DPD_val = 0
    DPD_li = []

    for j in range(len(combined_payment.iloc[i])):

        #print(combined_payment.iloc[i][j])

        if (isfloat(combined_payment.iloc[i][j][9:12]) and combined_payment.iloc[i][j][9:12] != 'xxxxxxxxxxxxxxxx'):
            if (int(combined_payment.iloc[i][j][9:12]) != 0):

                DPD_val = (int(combined_payment.iloc[i][j][9:12]))
                DPD_li.append(DPD_val)

        else:

            DPD_li.append(0)

        #print(isfloat(combined_payment.iloc[i][j][9:12]))
        #print(combined_payment.iloc[i][j][9:12])
        #print('---------')

    DPD_30 = []

    for i in range (len(DPD_li)):

        DPD_30_above = 0

        if DPD_li[i] > 30:
            DPD_30_above += 1

        DPD_30.append(DPD_30_above)



    DPD.append(max(DPD_li))
    DPD_over_30.append(sum(DPD_30))

    
    print('DPD value is :', DPD_val, 'and DPD list is :', DPD_li)
    print('the maximum DPD is :', DPD)
    print('the number of months exceeding 30+ DPD is :', sum(DPD_30))
    print('*****************************************************')
print(len(DPD))

DPD value is : 160 and DPD list is : [160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 0]
the maximum DPD is : [160]
the number of months exceeding 30+ DPD is : 36
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 360 and DPD list is : [360, 360, 360, 360, 360, 360, 360, 360, 360, 0, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 360, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360]
the number of months exceeding 30+ DPD is : 35
*****************************************************
DPD value is : 180 and DPD list is : [180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 180, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180]
the number of months exceeding 30+ DPD is : 36
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 322 and DPD list is : [354, 322, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354]
the number of months exceeding 30+ DPD is : 2
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 900 and DPD list is : [900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 0, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900]
the number of months exceeding 30+ DPD is : 35
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 900 and DPD list is : [900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900]
the number of months exceeding 30+ DPD is : 36
*****************************************************
DPD value is : 900 and DPD list is : [900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 900, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900]
the number of months exceeding 30+ DPD is : 36
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 190 and DPD list is : [190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 0, 190, 190, 190, 190, 190, 190, 0, 190, 190, 190, 190, 0, 190, 190, 190, 190, 190, 190, 190, 190, 190, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0, 0, 0, 190]
the number of months exceeding 30+ DPD is : 31
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0, 0, 0, 190, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0, 0, 0, 190, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0, 0, 0, 190, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0, 0, 0, 190, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0, 0, 0, 190, 0, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0, 0, 0, 190, 0, 0, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0, 0, 0, 190, 0, 0, 0, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 0 and DPD list is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0, 0, 0, 190, 0, 0, 0, 0, 0, 0, 0, 0]
the number of months exceeding 30+ DPD is : 0
*****************************************************
DPD value is : 18 and DPD list is : [80, 80, 49, 18, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
the maximum DPD is : [160, 0, 0, 0, 0, 0, 360, 180, 0, 354, 0, 0, 900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 900, 900, 0, 0, 0, 190, 0, 0, 0, 0, 0, 0, 0, 0, 80]
the number of months exceeding 30+ DPD is : 3
*****************************************************
37

In [192]:
# adding new columns in the customer dataframe

df['DPD'] = DPD
df['30+ DPD months'] = DPD_over_30
df.head()

,ACCT_TYPE,DISBURSED_AMT,DISBURSED_DATE,COMBINED_PAYMENT_HISTORY,DPD,30+ DPD months
0,Credit Card,152244.0,07-08-2008,"Jan:2020,160/XXX|Dec:2019,160/XXX|Nov:2019,160...",160,36
1,Personal Loan,7000.0,10-12-2019,"Jan:2020,000/STD|Dec:2019,000/STD|",0,0
2,Consumer Loan,34230.0,28-01-2019,"Jan:2020,000/STD|Dec:2019,000/STD|Nov:2019,000...",0,0
3,Personal Loan,51000.0,30-05-2019,"Jan:2020,000/XXX|Dec:2019,000/XXX|Nov:2019,000...",0,0
4,Consumer Loan,16999.0,12-07-2019,"Aug:2019,000/XXX|Jul:2019,000/XXX|",0,0

In [193]:
# calculating % of trades with 30+ DPD, Total disbursed amount for all loans, Max number of months of 30+ DPD

cust_li = []

dpd_count = (df['DPD'] != 0).sum()
percent_DPD = dpd_count/len(df) * 100

total_disb_amt = df.DISBURSED_AMT.sum()
max_DPD = df['30+ DPD months'].max()

cust_li.append(round(percent_DPD, 3))
cust_li.append(total_disb_amt)
cust_li.append(max_DPD)

cust_li

[24.324, 4133365.0, 36]